.Rolldice {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Rolldice-container {
    margin-top: 2rem;
}

.Rolldice button {
    width: 15rem;
    padding: 1.5rem;
    border: 0;
    border-radius: 1rem; 
    color: #ffff;
    background-color: #333;
    margin-top: 5rem;
    font-size: 1.5rem;
}
.Rolldice button:hover {
    background-color: darkolivegreen;
    cursor: pointer;
}
.Rolldice .isRoll {
    background-color: darkolivegreen;
}